* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.completed {
  text-decoration: line-through;
}

.fa-trash {
  color: red;
}

.todo-header {
  color: rgb(218, 214, 214);
  font-size: 100px;
}

.todo-container {
  background: rgba(84, 216, 209, 0.753);
  display: grid;
  grid-template-columns: 20% 80%;
  text-align: center;
}

.todos {
  background: white;
}

.list-todos-container {
  width: 50%;
  margin: 0 auto;
}

.list-todos {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}

.list-input-group {
  align-items: center;
  width: 100%;
}

.add-input-form {
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 4px 0px;
  width: 50%;
  margin: 0 auto;
  padding: 0 10px;
  border-radius: 10px;
}

.add-input-field,
.input-field {
  padding: 10px 15px;
  border: none;
  width: 100%;
}

.add-input-field:focus-visible,
.input-field:focus-visible {
  outline: none;
}
